body{
    background: rgb(2,0,36, 25%);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,19,121,0.21612394957983194) 35%, rgba(0,212,255,1) 100%);
     */
    justify-content: center;
}
.details-sectn{
    border: none;
    border-radius: 20%;
    height: 300px;
    max-width: 30%;
    padding: 6px;
    margin: auto;
    background-color:  rgba(25, 2, 34, 4%);
    box-shadow: 0 3px 10px rgb(0 0 2 /0.6);
}
.text-name{
    font-size: x-large;
    position: relative;
    left: 18px;
    top: 20px;

}
h1, .text-name{
    border: none;
    font-style: oblique;
    

}
input{
    margin: 30px 0px 0px 30px;
    padding: 10px;
    width: 80%;
    background-color: azure;
    border-radius: 10px;
}
.btn-start{
    position: relative;
    transform: translate(130px, 70%);
    height: 40px;
    width: 150px;
    font-size: 1.3em;
    font-style: oblique;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 2 /0.6);
}
.btn-start:hover, .btn-music:hover, .btn-game:hover{
    background-color: rgba(25, 2, 34, 30%);
}
.btn-music{
    position: relative;
    left: 40%;
    top: 60px;
    border: #fff;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-right: 70px;
    font-style: italic;
    font-weight: 800;
    box-shadow: 0 3px 10px rgb(0 0 2 /0.6);
}
.btn-game{
    position: relative;
    bottom: -140px;
    left: 40%;
    border: #fff;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-right: 70px;
    font-style: italic;
    font-weight: 800;
    box-shadow: 0 3px 10px rgb(0 0 2 /0.6); 
}
.score-bd-p1, .score-bd-p2{
    width: 150px;
    height: 40px;
    position: absolute;
    display: inline;
    border-left: outset 6px seashell;
    border-bottom: outset 6px rgb(2,0,36, 50%);
    border-radius: 7px;
    top: 170px;
    font-size: x-large;
    color: rgb(191, 0, 255);
    background-color: rgb(14, 55, 14);
   
}
.score-bd-p2{
    right: 220px;
}
.score-bd-p1{
    left: 200px;
}
.score-one{
    position: absolute;
    top: 140px;
    left: 200px;
    font-size: x-large;
    text-shadow: 2px 4px 10px black;
    color: azure;
}
.score-two{
    position: absolute;
    top: 140px;
    right: 200px;
    font-size: x-large;
    text-shadow: 2px 4px 10px black;
    color: azure;
}
.grid-boxes{
    display: grid;
    gap: 4px;
    width: 30%;
    height: 300px;
    position: relative;
    top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: none;
    border-radius: 20%;
    margin: auto;

}
.my-grids{
    background-color: antiquewhite;
    box-shadow: 0 3px 10px rgb(0 0 2 /0.6);
    color: #fff;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    border-style: outset;
    max-width: 100%;
    word-break: break-all;
    overflow: hidden;
    max-height: 100%;
}